body{
    margin: 0;
    padding: 0;
}
.personalcenter{
    margin: 0 auto;
    width: 1060px;
    margin-top: 10px;
}
/************************************左边************************************/
.personalcenter-left{
    float: left;
    border: 1px solid #e7e7e7;
    width: 250px;
}
.personalinfo{
    height: 100px;
}
.personalinfo-img{
    float: left;
    width: 100px;
    height: 100px;
    padding: 10px;
}
.personalinfo-img img{
    width: 80px;
    height: 80px;
}
.personalinfo-text{
    margin-top: 20px;
    float: left;
    font-size: 16px;
}
.personalinfo-name{
    font-weight: bolder;
}
.personalinfo-setting{
    margin-top: 15px;
}
.personalinfo-setting{
    color: #00aeff;
    font-size: 14px;
}
.personalcenter-icon{
    margin-right: 3px;
}
.personalinfo-setting a{
    text-decoration: none;
    color: #00aeff;
    cursor: pointer;
}
.personalinfo-setting a:hover{
    text-decoration: underline;
}
.fastchannel{
    font-size: 14px;
    font-weight: bolder;
    text-align: center;
    padding: 7px 10px;
    background-color:#F3F3F3 ;
    border-top: 1px solid #e7e7e7;
}
.fastchannel-line{
    padding: 15px;
    border-top: 1px solid #e7e7e7;
    width: 100%;
    font-size: 16px;
}
.fastchannel-line span{
    float: left;
}
.fastchannel-line a{
    float: right;
}
.fastchannel-icon{
    margin-right: 5px;
    font-size: 18px;
    color: #00aeff;
}
/*************************************右边***********************************/
.personalcenter-right{
    margin-left: 10px;
    float: left;
    /*border: 1px solid #e7e7e7;*/
    /*height: 500px;*/
    width: 800px;
}
.personalcenter-top{
    width: 100%;
}
.personalcenter-nav{
    list-style: none;
    background-color: #e3f1ff;
    padding: 10px;
    border: 1px solid #e7e7e7;
}
.personalcenter-nav li{
    float: left;
    width: 190px;
    text-align: center;
}
.personalcenter-nav li>a{
    text-decoration: none;
    color: #000;
}
.nav-block{
    width: 80px;
    padding: 20px 5px ;
    border-radius: 40px;
    background-color: #FFFFFF;
    margin: 0 auto;
}
.description span{
    color: #f0ad4e;
    font-size: 14px;
    margin-right: 3px;
}
.description img{
    width: 20px;
    height: 20px;
    margin-right: 3px;
}
.personalcenter-myorder{
    width: 100%;
    background-color: #FFFFFF;
    border: 1px solid #e8e8e8;
    border-radius: 20px;
}
.myorder-title{
    padding: 10px;
    border-bottom: 1px dashed #e8e8e8;
    width: 770px;
    margin: 0 auto;
}
.myorder-title span{
    font-size: 16px;
    font-weight: bolder;
}
.myorder-title a{
    margin-left: 580px;
}
.myorder-content{
    margin-top: 10px;
}
.order-navigations{
    list-style: none;
}
.order-navigations li{
    margin-top: 10px;
    float: left;
}
.order-block{
    width: 70px;
    height: 80px;
    padding: 5px;
    margin-left: 56px;
    margin-right: 10px;
}
.order-block img{
    width: 45px;
    height: 45px
}
.order-block span{
    color: #e41515;
    border: 2px solid #e8ab2a;
    padding: 2px 7px;
    border-radius: 15px;
    position: relative;
    right: -30px;
    top: -55px;
}
.block-text{
    position: relative;
    top: -15px;
}
/***********************************************************/
.recentorder{
    margin-left: 8px;
    border-bottom: 3px solid #00aeff;
    width: 780px;
    margin-bottom: 10px;
}
.orderdetail table{
    border: 1px solid #e8e8e8;
    width: 780px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 10px;
}
.orderdetail table tr>th{
    text-align: center;
    color: #666666;
    padding: 10px 2px;
    background-color: #F0F0F0;
}
.orderdetail table tr>td{
    text-align: center;
    color: #858585;
    padding: 13px 2px;
}