<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<!--xmlns:th="http://www.thymeleaf.org"-->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/head.css">
    <link rel="stylesheet" href="/css/bookdetail.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet"href="/css/footer.css">
    <script src="/Js/jquery-3.4.0.js"></script>
</head>
<body>
    <div th:replace="head::.top"></div>
    <div class="top-footer"></div>
    <div class="bookdetail">
        <div class="booldetail-title">
            <span id="booldetail-title-first">图书</span>
            <span class="booldetail-title-interval">></span>
            <span th:text="${session.book.bookclass1}">文学</span>
            <span class="booldetail-title-interval">></span>
            <span th:text="${session.book.bookclass2}">作品集</span>
            <span class="booldetail-title-interval" th:if="${session.book.bookclass3 !=null}">></span>
            <span th:text="${session.book.bookclass3}">诗歌集</span>
        </div>
    </div>
    <div class="bookdetail-content clearfix">
        <div class="bookdetail-content-left">
            <!-- 同类热销商品 -->
            <div class="bookdetail-thesamekind">
                <div class="bookdetail-thesamekind-title">同类热销商品</div>
                <div class="bookdetail-hotsale clearfix">
                    <div class="bookdetail-insevendays">近七日热销榜</div>
                    <div class="bookdetail-newbook">新书热销榜</div>
                </div>
                <div class="bookdetail-thesamekind-book clearfix">
                    <div class="bookdetail-thesamekind-img">
                        <span class="bookdetail-thesamekind-ranking">1</span>
                        <a href="#" title="原生命从容"><img src="/image/1201111378_0_2_800x800.jpg" alt="" srcset=""></a>
                        
                    </div>
                    <div class="bookdetail-book-name">
                        <a href="#" title="原生命从容" >原生命从容</a>
                        <div class="thesamekind-price">
                                <span class="thesamekind-price-left">￥46.00</span>
                                <s class="thesamekind-price-right">￥59.00</s>
                        </div>
                    </div>
                </div>
                <div class="bookdetail-thesamekind-book clearfix">
                    <div class="bookdetail-thesamekind-img">
                        <span class="bookdetail-thesamekind-ranking">1</span>
                        <a href="#" title="原生命从容"><img src="/image/1201111378_0_2_800x800.jpg" alt="" srcset=""></a>
                        
                    </div>
                    <div class="bookdetail-book-name">
                        <a href="#" title="原生命从容" >原生命从容</a>
                        <div class="thesamekind-price">
                                <span class="thesamekind-price-left">￥46.00</span>
                                <s class="thesamekind-price-right">￥59.00</s>
                        </div>
                    </div>
                </div>
                <div class="bookdetail-thesamekind-book clearfix">
                    <div class="bookdetail-thesamekind-img">
                        <span class="bookdetail-thesamekind-ranking">1</span>
                        <a href="#" title="原生命从容"><img src="/image/1201111378_0_2_800x800.jpg" alt="" srcset=""></a>
                    </div>
                    <div class="bookdetail-book-name">
                        <a href="#" title="原生命从容" >原生命从容</a>
                        <div class="thesamekind-price">
                            <span class="thesamekind-price-left">￥46.00</span>
                            <s class="thesamekind-price-right">￥59.00</s>
                        </div>
                    </div>
                </div>
                <!-- 热门活动 -->
                <div class="bookdetail-hotactivity-title">热门活动</div>
                <div class="bookdetail-hotactivity-link"><a href="">【热门】开学囤书推荐</a> </div>
                <div class="bookdetail-hotactivity-link"><a href="">【热门】你的漫画时光</a> </div>
                <div class="bookdetail-hotactivity-link"><a href="">【热门】和风 日式工作法</a> </div>
                <div class="bookdetail-hotactivity-imglink"><a href=""><img src="/image/hotactivity-imglink1.png" alt=""></a> </div>
                <div class="bookdetail-hotactivity-imglink"><a href=""><img src="/image/hotactivity-imglink2.png" alt=""></a> </div>
                <div class="bookdetail-hotactivity-imglink"><a href=""><img src="/image/hotactivity-imglink3.png" alt=""></a> </div>
                <!-- 该作者的其他作品 -->
                <div class="bookdetail-hotactivity-title">该作者的其他作品</div>
                <div class="bookdetail-others-book clearfix" th:if="${session.authorbooks!=null}" th:each="authorbook : ${session.authorbooks}">
                    <div class="bookdetail-others-book-img">
                        <a href="#" title="原生命从容" th:attr="title=${authorbook.bookname}" th:href="@{'/bookdetail?bookid='+${authorbook.bookid}}">
                            <img src="image/1201111378_0_2_800x800.jpg" alt="" th:attr="src=${authorbook.bookimg}">
                        </a>
                    </div>
                    <div class="bookdetail-othersbook-name">
                        <a href="#" title="原生命从容" th:text="${authorbook.bookname}" th:attr="title=${authorbook.bookname}" th:href="@{'/bookdetail?bookid='+${authorbook.bookid}}">原生命从容</a>
                        <div class="thesamekind-price">
                                <span class="thesamekind-price-left" th:text="'￥'+${authorbook.booknewprice}">￥46.00</span>
                                <s class="thesamekind-price-right" th:text="'￥'+${authorbook.bookoldprice}">￥59.00</s>
                        </div>
                    </div>
                </div>
                <div class="bestmatch-part-null" th:if="${session.authorbooks!=null}">无</div>
            </div>
        </div>
        <div class="bookdetail-content-right">
            <div class="bookdetail-content-bookmain clearfix">
                <div class="bookdetail-bookmian-left">
                    <div class="bookdetail-content-bookimg">
                        <img src="/image/1201698258_0_1_800x800.jpg" alt="" th:attr="src=${session.book.bookimg}">
                    </div>
                    <div class="batchbook"><button>批量购书</button></div>
                    <div class="sharebook">分享到：7 <button><img src="/image/addcollect.png" alt="">加入收藏</button></div>
                </div>
                <div class="bookdetail-content-bookinfo">
                    <div class="bookname" th:text="${session.book.bookname}">风雅宋</div>
                    <div class="bookinstruction" th:text="${session.book.bookbrief}">你的人生，还有别的可能！当代英国炙手可热的作家：张悦然、蒋方舟、任晓雯、刘瑜一致推荐！一部大胆的、光芒四射的小说。就天赋与灵气而言，少有作家能与珍妮特·温特森相比！</div>
                    <div class="booktips">购书卡&政企书目服务专线：028-83157118 &emsp;&emsp;(10:00-17:00)</div>
                    <div class="line-row">
                        <span class="bookbrief-title">定&emsp;&emsp;价&ensp;：</span> 
                        <span class="bookpricing" th:text="'￥'+${session.book.bookoldprice}">￥46.00</span>
                    </div>
                    <div class="line-row">
                        <span class="bookbrief-title">书&ensp;城&ensp;价&ensp;：</span>
                        <span class="booksaleprice" th:text="'￥'+${session.book.booknewprice}">￥23.10</span>
                        <span class="booktakeoff" th:text="'('+${#numbers.formatDecimal((session.book.booknewprice/session.book.bookoldprice)*10,1,2)+'折)'}">(5.81折)</span>
                        <span class="reducepricetip"><a href="#">(降价通知)</a></span>
                    </div>
                    <div class="line-row">
                        <span class="bookbrief-title">库&emsp;&emsp;存&ensp;：</span>
                        <span class="text-large">现在有货</span>
                        &emsp;书城<span class="text-large">正版图书音像</span>，为您快捷发货
                        <span class="reducepricetip"><a href="#">(配送详情)</a></span>
                    </div>
                    <div class="line-row">
                            <span class="bookbrief-title">作&emsp;&emsp;者&ensp;：</span>
                            <span class="author"><a href="#" th:text="${session.book.bookauthor}"> 马伯庸</a>著</span>
                    </div>
                    <div class="line-row">
                        <span class="bookbrief-title"> 所属分类&ensp;：</span>
                        <span class="bookkind"><a href="">图书</a></span>
                        <span class="booldetail-title-interval">></span>
                        <span class="bookkind"> <a href="" th:text="${session.book.bookclass1}">文学</a></span>
                        <span class="booldetail-title-interval">></span>
                        <span class="bookkind"><a href="" th:text="${session.book.bookclass2}">作品集</a></span>
                        <span class="booldetail-title-interval" th:if="${session.book.bookclass3 != null}">></span>
                        <span class="bookkind"><a href="" th:text="${session.book.bookclass3}" th:if="${session.book.bookclass3!=null}">诗歌集</a></span>
                    </div>
                    <div class="line-row" th:if="${session.book.book2class1 !=null}">
                        <span class="bolck-left"></span>
                        <span class="bookkind"><a href="">图书</a></span>
                        <span class="booldetail-title-interval">></span>
                        <span class="bookkind"> <a href="" th:text="${session.book.book2class1}">文学</a></span>
                        <span class="booldetail-title-interval">></span>
                        <span class="bookkind"><a href="" th:text="${session.book.book2class2}">作品集</a></span>
                        <span class="booldetail-title-interval" th:if="${session.book.book2class3 != null}">></span>
                        <span class="bookkind"><a href="" th:text="${session.book.book2class3}" th:if="${session.book.book2class3!=null}">诗歌集</a></span>
                    </div>
                    <div class="line-row">
                        <span class="bookbrief-title"> 促销活动&ensp;：</span>
                        <span class="promotesale-activity">❤大陆非新疆西藏地区包邮，新疆西藏地区每单运费20元</span> 
                    </div>
                    <div class="quantity line-row">
                        <span class="bookbrief-title"> 购买数量&ensp;：</span>
                        <a class="decrease">-</a>
                        <input type="text" name="number"  id="number" value="1">
                        <a class="increase">+</a>件
                    </div>
                    <div class="line-row addcart">
                        <a class="join-shopping-cart"  title="加入购物车">
                            <img src="/image/cartlogo.png" alt="">
                            <span></span>加入购物车
                        </a>
                    </div>
                    <div class="service-instruction line-row">
                        <span class="bookbrief-title"> 服&emsp;&emsp;务&ensp;：</span>
                        由"文轩网"直接销售和发货，并提供售后服务
                    </div>
                </div>
            </div>
            <!-- 最佳搭配 -->
            <div class="bestmatch">
                <div class="theme-title">
                    <span>最佳搭配</span> 
                </div>
                <div class="bestmatch-content clearfix">
                    
                    <div class="bestmatch-content-left">
                        <img src="/image/1201698258_0_1_800x800.jpg" alt="" th:attr="src=${session.book.bookimg}">
                        <span class="bestmatch-bookname" th:text="${session.book.bookname}">风雅宋</span>
                    </div>
                    <div class="bestmatch-content-middle">
                        <div class="bestmatch-middle-parts clearfix">
                            <div class="bestmatch-middle-part" th:each="relatbook : ${session.relatebooks}">
                                <a th:href="@{'/bookdetail?bookid='+${relatbook.bookid}}" th:attr="title=${relatbook.bookname}">
                                    <img src="/image/1200708838_0_1.jpg" alt="" th:attr="src=${relatbook.bookimg}">
                                    <div class="bestmatch-part-bookname" th:text="${relatbook.bookname}">追风筝的人</div>
                                </a>
                                <div class="bestmatch-part-checkbox">
                                    <input type="checkbox" name="" >
                                    <span th:text="'￥'+${relatbook.booknewprice}">￥23.00</span>
                                </div> 
                            </div>
                        </div>
                    </div>
                    <div class="bestmatch-content-right">
                        <div class="buybestmach">购买最佳搭配</div>
                        <div class="bestmatch-pricing">定&emsp;价：<span>￥00.00</span></div>
                        <div class="bestmatch-bookpricing">书城价：<span>￥00.00</span></div>
                        <div class="buybestmatch-btn"><button>购买此套餐</button></div>
                        <div class="buybestmatch-btn">
                            <span>￥27.00</span>
                           （6折）
                            <button>加入购物车</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 商品介绍 -->
            <div class="navigation-goodsdescription">
                <div class="theme-title">
                    <span>商品介绍</span> 
                </div>
                <div class="fastchannel clearfix">
                    <div class="fastchannel-module">
                        <span class="glyphicon glyphicon-hand-right fastchannel-icon1" aria-hidden="true"></span>
                        <span class="fastchannel-text1">快速直达</span>
                    </div>
                    <div class="fastchannel-module">
                        <a href="#catalogue">
                            <span class="glyphicon glyphicon-map-marker fastchannel-icon" aria-hidden="true"></span>
                            <span class="fastchannel-text">目录</span>  
                        </a>
                    </div>
                    <div class="fastchannel-module">
                        <a href="#authorjianjie">
                            <span class="glyphicon glyphicon-map-marker fastchannel-icon" aria-hidden="true"></span>
                            <span class="fastchannel-text">作者简介</span>
                        </a>
                    </div>
                    <div class="fastchannel-module">
                        <a href="#editortuijian">
                            <span class="glyphicon glyphicon-map-marker fastchannel-icon" aria-hidden="true"></span>
                            <span class="fastchannel-text">主编推荐</span>
                        </a>
                    </div>
                    <div class="fastchannel-module">
                        <a href="#contentbrief">
                            <span class="glyphicon glyphicon-map-marker fastchannel-icon" aria-hidden="true"></span>
                            <span class="fastchannel-text">内容简介</span>
                        </a>
                    </div>
                    <div class="fastchannel-module">
                        <a href="#interestingcontent">
                            <span class="glyphicon glyphicon-map-marker fastchannel-icon" aria-hidden="true"></span>
                            <span class="fastchannel-text">精彩内容</span>
                        </a>
                    </div>
                    <div class="fastchannel-module">
                        <a href="#goodscomment">
                            <span class="glyphicon glyphicon-map-marker fastchannel-icon" aria-hidden="true"></span>
                            <span class="fastchannel-text">商品评论</span>
                        </a>
                    </div>
                </div>
            </div>
            <!-- 细节 -->
            <div class="details">
                <div class="details-content">
                    <ul class="list-txet clearfix">
                        <li>作&emsp;者：<a href="" th:text="${session.book.bookauthor}">马伯庸</a>著</li>
                        <li>出版社：<a href="" th:text="${session.book.bookpress}">百花洲文艺出版社</a></li>
                        <li >出版时间：<span th:text="${session.book.bookpresstime}">2015-06-01</span></li>
                        <li>印刷时间：2015-01-01</li>
                        <li>开&emsp;本：<span th:text="${session.book.booksize}">32开</span></li>
                        <li>页&emsp;数：274</li>
                        <li>语&emsp;种：中文</li>
                        <li>字&emsp;数：222.0千字</li>
                        <li>装&emsp;帧：平装</li>
                        <li>I S B N：<span th:text="${session.book.bookisbn}">97875550013247</span></li>
                        <li>版&emsp;次：1</li>
                        <li>印&emsp;次：1</li>
                    </ul>
                </div>
            </div>
            <!-- 广告 -->
            <div class="detailsad clearfix">
                <div class="detailsadimg"><img src="/image/detailsad1.png" alt=""></div>
                <div class="detailsadimg"><img src="/image/detailsad2.png" alt=""></div>
                <div class="detailsadimg"><img src="/image/detailsad3.png" alt=""></div>
            </div>
            <div id="catalogue">
                <div class="theme-title">
                    <span>目录</span> 
                </div>
                <div class="theme-content">
                    <div class="text-words hide-more textcontent1" >
                        自序&nbsp;(&nbsp;宋朝人的“纪录片”)<br>日常<br>宋人怎么养宠物狗与宠物猫<br>
                        宋人用什么钓鱼&nbsp;：抛竿<br>宋人用什么刷牙&nbsp;：牙刷<br>宋人用什么照明&nbsp;：蜡烛<br>
                        八百年前的儿童玩些什么玩具<br>雅趣<br>宋人爱插花<br>宋人爱“写真”<br>
                        宋人爱焚香<br>宋人怎么玩收藏<br>中国茶艺的绝响<br>宋式家具之雅<br>社会
                        <br>八百年前，满大街都是博彩摇奖<br>将春节过成万圣节
                        <br>宋朝流行女厨师<br>宋朝女性将自己裹得严严实实吗？
                        <br>唐宋人是怎么签写“离婚协议”的<br>宋人爱谈十二星座
                        <br>城市<br>为什么说宋朝发生了一场“城市革命”？<br>《清明上河图》告诉你：宋朝城市比明清城市更开放<br>
                        从《西湖清趣图》看宋朝城市的公共设施<br>宋朝城市已有“自来水”<br>为什么说宋朝皇家园林是开放的？<br>
                        为什么说宋朝已有城市公园？<br>商业<br>“青楼酒旗三百家”<br>《清明上河图》植入了多少广告？<br>
                        清明上河船<br>宋朝的水力机械技术有多发达<br>礼仪<br>宋朝任命一名官员的流程<br>
                        宋朝平民上衙门打官司，必须跪着吗？<br>宋朝平民遇见皇帝，必须下跪吗？<br>
                        从椅子的出现说到跪拜礼的变迁<br>后记
                    </div>
                    <div class="isdisplay">显示全部内容&gt;&gt;</div>
                </div>
            </div>
            <!-- 作者简介 -->
            <div id="authorjianjie">
                <div class="theme-title">
                    <span>作者简介</span> 
                </div>
                <div class="theme-content">
                    <div class="text-words hide-more textcontent2">
                        吴钩，生于1975年，历史研究者，腾讯“大家”签约作家。
                        <br>主要关注领域为古代的政制与社会生活，习惯以社会学与政治学为分析工具，对正史野稗、前人笔
                        记所记录的古代社会、官场细节及其背后隐秘进行梳理分析。<br>在《博览群书》《书屋》《社会科学
                        论坛》《二十一世纪》等刊物发表有多篇历史社会学随笔。著有《隐权力：中国历史弈局的幕后推力》
                        《隐权力2：中国传统社会的运行游戏》。
                    </div>
                    <div class="isdisplay">显示全部内容&gt;&gt;</div>
                </div>
            </div>
            <!-- 主编推荐 -->
            <div id="editortuijian">
                <div class="theme-title">
                    <span>主编推荐</span> 
                </div>
                <div class="theme-content">
                    <div class="text-words hide-more textcontent3">
                        ☆一本用宋画呈现的大宋文明，一卷在视觉上赏心悦目的宋朝，一部可视的、生动的历史记录，
                        一幅可以近距离观察的“风雅”宋。☆本书是一部图文并茂、通俗有趣的宋代社会生活史作品。
                        作者切入的角度很好独特，他认为宋画呈现了一个比文字记载更为生动的历史世界，让我们得
                        以近距离观赏到一个别开生面、活色生香的“风雅”宋。书中精选了具有写实功能的宋代画作，
                        展示了宋人起居饮食、焚香点茶、赶集贸易、赏春游园、上朝议事等“风雅”生活图景，其间不乏对宋代风
                        俗礼仪的细致考证，以及横向或纵向的比较，从而展现了宋代文明的独特性、颇为前卫的一面和对后世绵
                        延不绝的影响力。
                    </div>
                    <div class="isdisplay">显示全部内容&gt;&gt;</div>
                </div>
            </div>
            <!-- 内容简介 -->
            <div id="contentbrief">
                <div class="theme-title">
                    <span>内容简介</span> 
                </div>
                <div class="theme-content">
                    <div class="text-words hide-more textcontent4">
                        《风雅宋(看得见的大宋文明)/吴钩说宋》是一部图文并茂、通俗有趣的宋代社会生活史作品。
                        作者切入的角度很好独特，他认为宋画呈现了一个比文字记载更为生动的历史世界，让我们得以
                        近距离观赏到一个别开生面、活色生香的“风雅”宋。书中精选了具有写实功能的宋代画作，展示了
                        宋人起居饮食、焚香点茶、赶集贸易、赏春游园、上朝议事等“风雅”生活图景，其间不乏对宋代风
                        俗礼仪的细致考证，以及横向或纵向的比较，从而展现了宋代文明的独特性、颇为前卫的一面和对
                        后世绵延不绝的影响力。
                    </div>
                    <div class="isdisplay">显示全部内容&gt;&gt;</div>
                </div>
            </div>
            <!-- 精彩内容 -->
            <div id="interestingcontent">
                <div class="theme-title">
                    <span>精彩内容</span> 
                </div>
                <div class="theme-content">
                    <div class="text-words hide-more textcontent5">
                        <br>&nbsp;&nbsp;&nbsp;&nbsp;宋人怎么养宠物狗与宠物猫&nbsp;&nbsp;&nbsp;&nbsp;我小时生活在农村，
                        家里养猫，也养狗，不过农村人不会拿猫狗当宠物――那时候也没有“养宠物”的观念，养猫是为捕鼠，
                        养狗是为守夜。今天的城里人，基本上都是将猫儿狗儿当宠物养了。我觉得宠物的历史其实就是人类社
                        会的进化史，猫、狗的驯化可以追溯到远古时代，但猫、狗被人类选中饲养，是因为猫有捕鼠的技能，
                        狗有守夜、狩猎的技能，远古人不可能有闲功夫养一只宠物来争夺有限的口粮。
                        <br>&nbsp;&nbsp;&nbsp;&nbsp;别看今天的欧洲人将宠物狗当成家庭成员看待，但在中世纪
                        ，欧洲养狗同样是出于功利性的需要。13世纪的欧洲哲学家大阿尔伯特警告说，“如果想让狗看好
                        门，就不能给它喂人吃的食物或者经常爱抚它，否则狗在看门的时候，总是一半心思在向主人讨好吃的
                        。”宋朝的文化人说猫儿“知护案间书”，中世纪的欧洲人也认为猫可以保护教堂的圣餐。
                        <br>&nbsp;&nbsp;&nbsp;&nbsp;宠物猫与宠物狗的出现，是比较晚近的事了，
                        而且首先出现有闲有钱阶级。欧洲在文艺复兴之后，贵族中才开始流行饲养宠物，
                        并慢慢扩展至平民阶层。不妨说，当一个社会有越来越多的人饲养宠物的时候，
                        这个社会就开始走向现代化了。而今天的人们将蟒蛇、蜥蜴、毒蜘蛛也当成了宠物来养，
                        则多少透露出“后现代”的味道。
                        <br>&nbsp;&nbsp;&nbsp;&nbsp;宠物狗：？儿弄暖缘阶走
                        <br>&nbsp;&nbsp;&nbsp;&nbsp;在中国，宠物狗是什么时候出现的呢？至迟
                        在唐代，小型观赏犬已经成了贵妇圈的宠物，描绘唐朝贵妇生活的周？《簪花
                        仕女图》（辽宁省博物馆藏）便画了两只小巧玲珑的宠物犬。这种小型观赏犬叫
                        做“拂？狗”，唐初从高昌传入，“高六寸，长尺余，性甚慧，能曳马衔烛，云本出
                        拂？国。中国有拂？狗，自此始也。”又称“？儿”，极其名贵，只有宫廷贵妇才养得起。
                        <br>&nbsp;&nbsp;&nbsp;&nbsp;到了宋代，民间养狗已极为常见，城市中出现了专
                        门的宠物市场，宋人孟元老《东京梦华录》说，开封府的大相国寺，“每月五次开放万
                        姓交易，大三门上皆是飞禽猫犬之类，珍禽奇兽，无所不有”。市场上还有猫粮、狗粮出售
                        ：“凡宅舍养马，则每日有人供草料；养犬，则供饧糠；养猫，则供鱼鳅；养鱼，则供虮虾
                        儿。”南宋周密《武林旧事》的记录更有意思了，“小经纪”条罗列了杭州城的各种小商品与
                        宠物服务，其中有“猫窝、猫鱼、卖猫儿、改猫犬”，猫窝、猫鱼、猫儿的含义好理解，“改
                        猫犬”很可能是给宠物猫、宠物犬做美容。<br>&nbsp;&nbsp;&nbsp;&nbsp;周密的《癸辛
                        杂识》记载的一则信息，更是确凿无误地显示了宋朝人有给宠物狗、宠物猫美容的做法。周密
                        说，女孩子们喜欢将凤仙花捣碎，取其液汁染指甲，“凤仙花红者用叶捣碎，入明矾少许在内。先
                        洗净指甲，然后以此付甲上，用片帛缠定过夜。初染色淡，连染三五次，其色若胭脂，洗涤不去，
                        可经旬，直至退甲，方渐去之。”而定居于宋朝的阿拉伯女性，甚至用凤仙花液汁给猫狗染色：“今回
                        回妇人多喜此，或以染手并猫狗为戏”。
                        <br>&nbsp;&nbsp;&nbsp;&nbsp;不过，宋人养狗，主要还是“畜以警盗”，或者用于狩猎。南宋画家李迪
                        的《犬图》（北京故宫博物院藏），画的应该是一条猎狗。狗的脖子还套着一个精美的项圈，显示主
                        人对它的珍惜。有没有可能主人将它当成宠物犬来饲养呢？<br>&nbsp;&nbsp;&nbsp;&nbsp;实
                        际上，宋朝时候，人们饲养宠物犬的习惯，已经从唐朝时的宫廷贵族扩大到富有的平民家庭。《宋史？
                        孝义传》记载，“江州德安陈？”之家，“有犬百余，共食一槽，一犬不至，群犬不食”。养了一百多条狗
                        ，恐怕就不单纯是出于实用目的，而应该对狗有特别的感情。又据洪迈《夷坚志》，宋人员琦，“养
                        狗黑身而白足，名为‘银蹄’，随呼拜跪，甚可爱。忽失之，揭榜募赎”。这条“甚可爱”的小狗，有名
                        字，有一日丢失了，主人还贴出启事，悬赏寻狗，显然员家已将“银蹄”当成宠物来饲养了。
                        <br>&nbsp;&nbsp;&nbsp;&nbsp;宋朝诗人的诗歌写道：“药栏花暖小？眠，雪白晴云水碧天”
                        ；“？儿弄暖缘阶走，花气薰人浓似酒”；“？子解迎门外客，狸奴知护案间书”；“昼下珠口帘
                        ？子睡，红蕉窠下对芭蕉”。诗中的“？儿”、“？子”，应该也是宋人饲养的宠物狗。
                        <br>&nbsp;&nbsp;&nbsp;&nbsp;文献资料关于宋人饲养宠物狗的记载甚少，好在还有图
                        像史料。从传世的宋画中，我们可以找寻到一些宋代宠物狗的可爱形象，如日本大和文华馆
                        藏的毛益《萱草戏狗图》、上海博物馆藏的《秋庭乳犬图》、辽宁省博物馆藏的《秋葵犬蝶图》
                        ，画的都是漂亮、可爱的小型长毛观赏犬。不知哪位达人能够品鉴出图像所绘的是什么宠物犬品种。
                        <br>&nbsp;&nbsp;&nbsp;&nbsp;P3-8
                    </div>
                    <div class="isdisplay">显示全部内容&gt;&gt;</div>
                </div>
            </div>
           
            <!-- 价格说明 --> 
            <div id="princeinstruction">
                <div class="theme-title">
                    <span>价格说明</span> 
                </div>
                <div class="theme-content">
                    <p>定价：为出版社全国统一定价；</p>
                    <p>文轩价：为商品的销售价，是您最终决定是否购买商品的依据；受系统缓存影响，最终价格以商品放入购物车后显示的价格为准；</p>
                </div>
            </div>
              <!-- 商品评论 -->
            <div id="goodscomment">
                    <div class="theme-title">
                        <span>商品评论</span> 
                    </div>
                    <div class="theme-content">
                        <div class="text-words hide-more textcontent6">
                            gddghg
                        </div>
                        <div class="isdisplay">显示全部内容&gt;&gt;</div>
                    </div>
                </div>
        </div>
    </div>
    <script src="/Js/head.js"></script>
    <script src="/Js/bookdetail.js"></script>
    <div th:replace="footer::.footer"></div>
</body>
</html>