<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>footer</title>
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="footer">
        <div class="footer-top">
            <div class="footer-top-content clearfix">
                <!-- 新手入门 -->
                <div class="newhands">
                    <ul class="footer-top-title">新手入门</ul>
                    <ul class="footer-top-details">
                        <li><a href="#">购物保障</a></li>
                        <li><a href="#">购物流程</a></li>
                        <li><a href="#">常见问题</a></li>
                        <li><a href="#">联系客服</a></li>
                    </ul>
                </div>
                <!-- 配送服务 -->
                <div class="distributionservice">
                    <ul class="footer-top-title">配送服务</ul>
                    <ul class="footer-top-details">
                        <li><a href="#">货到付款区域查询</a></li>
                        <li><a href="#">配送范围和时间</a></li>
                        <li><a href="#">配送收费标准</a></li>
                        <li><a href="#">快递查询入口</a></li>
                        <li><a href="#">验货与签收</a></li>
                    </ul>
                </div>
                <!-- 支付方式 -->
                <div class="payway">
                    <ul class="footer-top-title">支付方式</ul>
                    <ul class="footer-top-details">
                        <li><a href="#">货到付款</a></li>
                        <li><a href="#">在线支付</a></li>
                        <li><a href="#">银行转账/汇款</a></li>
                        <li><a href="#">其他支付方式</a></li>
                        <li><a href="#">交易安全防诈骗</a></li>
                    </ul>
                </div>
                <!-- 售后服务 -->
                <div class="aftersaleservice">
                    <ul class="footer-top-title">售后服务</ul>
                    <ul class="footer-top-details">
                        <li><a href="#">退换货规则</a></li>
                        <li><a href="#">如何申请售后服务</a></li>
                        <li><a href="#">退款及提现</a></li>
                    </ul>
                </div>
                <!-- 我的订单 -->
                <div class="myorder">
                    <ul class="footer-top-title">我的订单</ul>
                    <ul class="footer-top-details">
                        <li><a href="#">下单演示</a></li>
                        <li><a href="#">订单状态/查询</a></li>
                        <li><a href="#">订单取消</a></li>
                        <li><a href="#">发票制度</a></li>
                        <li><a href="#">积分规则</a></li>
                    </ul>
                </div>
                <!-- 书城服务 -->
                <div class="bookstoreservice">
                    <ul class="footer-top-title">书城服务</ul>
                    <ul class="footer-top-details">
                        <li><a href="#">礼劵（优惠券）</a></li>
                        <li><a href="#">书城购书卡</a></li>
                        <li><a href="#">书城好书推荐</a></li>
                        <li><a href="#">交易条款</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-center">
            <img class="h-center" src="../image/foot-service.png" alt="">
        </div>
        <div class="footer-bottom">
            <div class="footer-bottom-bookstore-introduce">
                <a href="#" title="关于书城">关于书城</a>
                <span>|</span>
                <a href="#" title="联系书城">联系书城</a>
                <span>|</span>
                <a href="#" title="加入书城">加入书城</a>
                <span>|</span>
                <a href="#" title="合作伙伴">合作伙伴</a>
            </div>
            <div class="footer-bottom-bookstore-introduce">
                <a href="#" title="川公网安备&emsp;510106000457号">川公网安备&emsp;510106000457号</a>
                <span>|&emsp;增值电信业务经营许可证：川B-0040&emsp;|</span>
                <a href="#" title="出版物经营许可证">出版物经营许可证</a>
                <span>|&emsp;蜀ICP备11014037号</span>
             </div>
             <div class="footer-bottom-bookstore-introduce">
                <span>Copyright(C)</span>
                <a href="#" title="文轩网">文轩网</a>
                <span>2000-2019&ensp;版权所有&ensp;|&ensp;客服热线：400-702-0808</span>
            </div>
        </div>
    </div>
</body>
</html>