<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/forgetpwd.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet"href="/css/head2.css">
    <link rel="stylesheet"href="/css/footer.css">
    <script src="/Js/jquery-3.4.0.js"></script>
    <title>找回密码</title>
</head>
<body>
    <div th:replace="head2::.header2"></div>
    <div class="forgetpwd">
        <div class="forgetpwd-content">
            <div class="forgetpwd-title">
                找回密码
            </div>
            <!--步骤导航-->
            <div class="forgetpwd-plan clearfix">
                <div class="forgetpwd-plan-single plan-activity">
                    <div class="forgetpwd-plan-display">
                        <span class="forgetpwd-ordinalnumeral">1</span><br>
                        <span class="forgetpwd-description">填写账户名</span>
                    </div>
                </div>
                <div class="forgetpwd-plan-single forgetpwd-account2">
                    <div class="forgetpwd-plan-display">
                        <span class="forgetpwd-ordinalnumeral">2</span><br>
                        <span class="forgetpwd-description">验证身份</span>
                    </div>
                </div>
                <div class="forgetpwd-plan-single forgetpwd-account3">
                    <div class="forgetpwd-plan-display">
                        <span class="forgetpwd-ordinalnumeral">3</span><br>
                        <span class="forgetpwd-description">设置新密码</span>
                    </div>
                </div>
                 <div class="forgetpwd-plan-single forgetpwd-account4">
                    <div class="forgetpwd-plan-display">
                        <span class="forgetpwd-ordinalnumeral">4</span><br>
                        <span class="forgetpwd-description">完成</span>
                    </div>
                </div>
            </div>
            <!--填写账户名-->
            <div class="forgetpwd-blankinfo">
               <div class="forgetpwd-inputinfo">
                   账&emsp;号：
                    <input type="text" name="forgetpwd-account" id="forgetpwd-account" placeholder="用户名/手机号/邮箱">
                    <span id="forgetpwd-accounterror" class="forgetpwd-error hide">该账号不存在</span>
               </div>
               <div class="forgetpwd-inputinfo">
                   验证码：
                   <input type="text" name="" id="forgetpwd-vcode" placeholder="请输入验证码">
                   <img src="/verifycode.action" alt="" id="verifycodeimg" onclick="changeVerifyCode()">
                   <span id="forgetpwd-vcodeerror" class="forgetpwd-error hide">验证码不正确</span>
               </div>
               <div class="forgetpwd-next">
                   <button id="forgetpwd-next-btn" class="forgetpwd-btn">下一步</button>
               </div>
            </div>
            <!--身份验证-->
            <div class="forgetpwd-verifyidentity hide">
                <div class="forgetpwd-inputinfo">
                    验证方式：<span id="forgetpwd-textstyle">手机验证</span>
                    <span id="forgetpwd-verifytext">
                        或者<a onclick="">邮箱验证</a>
                    </span>
                </div>
                <div class="forgetpwd-inputinfo">
                    <span>验&emsp;证：</span>
                    <input type="text" name="" id="forgetpwd-verifyway-phone">
                    <input type="text" name="" class="hide" id="forgetpwd-verifyway-email" >
                    <span class="forgetpwd-error hide">验证失败</span>
                </div>
                <div class="forgetpwd-inputinfo">
                    验证码：
                    <input type="text" name="" id="forgetpwd-vcode2" placeholder="请输入验证码">
                    <button id="forgetpwd-getvcode-btn">获取验证码</button>
                </div>
                <div class="forgetpwd-next">
                    <button id="forgetpwd-next-btn2" class="forgetpwd-btn">下一步</button>
                </div>
            </div>
            <!--设置新密码-->
            <div class="forgetpwd-settingnewpwd hide">
                <div class="forgetpwd-inputinfo">
                    设置新密码：
                    <input type="password" name="" id="forgetpwd-inputpwd1" placeholder="请输入新密码">
                    <span id="forgetpwd-pwd1error" class="forgetpwd-error hide">该账号不存在</span>
                </div>
                <div id="forgetpwd-tipsinfo">密码由8位及以上的数字和字母组成</div>
                <div class="forgetpwd-inputinfo">
                    确认新密码：
                    <input type="password" name="" id="forgetpwd-inputpwd2" placeholder="请确认新密码">
                    <span id="forgetpwd-pwd2error" class="forgetpwd-error hide">该账号不存在</span>
                </div>
                <div class="forgetpwd-next">
                    <button id="forgetpwd-ok-btn" class="forgetpwd-btn">确&emsp;定</button>
                </div>
            </div>
            <!--完成-->
            <div class="forgetpwd-finish hide">
                <span class="glyphicon glyphicon-ok forgetpwd-finish-icon" ></span>
                <span class="forgetpwd-finish-text">新密码设置成功！</span><br>
                <span class="forgetpwd-finish-link">现在你可以：<a href="/login">立即登录</a> </span>
            </div>
        </div>
    </div>
    <div th:replace="footer::.footer"></div>
    <script src="/Js/forgetpwd.js"></script>
</body>
</html>