<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/head2.css">
    <title>Document</title>
</head>
<body>
    <div class="header2" >
        <div class="head2-content">
                路漫漫，<span id="header2-title">书城</span>伴你左右！
        </div>
        <div class="head2-divider">
                **********************************************************************
        </div>
    </div> 
</body>
</html>