<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/integral.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/head2.css">
    <link rel="stylesheet" href="/css/footer.css">
    <script src="/Js/jquery-3.4.0.js"></script>
    <title>我的积分</title>
</head>
<body>
    <div th:replace="head2::.header2"></div>
    <div class="integral">
        <div class="personinfo">dsjjjjjjjjjjjjjjjjjjjjjjjjjjj</div>
    </div>
    <div th:replace="footer::.footer"></div>
</body>
</html>